/**
* Header
*/
header {
  &#masthead {
    transition: $transition-normal;
    background: $primary;

    .header-top {
      border-bottom: solid 1px $light;
      padding: $fit-space--small 0;
      background: $dark-op;
      transition: $transition-normal;
      overflow: hidden;

      @include media-breakpoint-down(xl) {
        display: none;
      }

      .header-top-menu {
        display: flex;
        gap: $fit-space--small;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          a {
            font-family: $font-family-alternative;
            font-size: $f-size-min;
            color: $light;
          }
        }
      }
    }

    #nav-main {
      padding: $fit-space 0;
      transition: $transition-normal;

      .navbar-left {
        display: flex;
        align-items: center;
        gap: 0;
      }

      .navbar-brand {
        width: $logo-size;

        @include media-breakpoint-down(lg) {
          width: $logo-size--mobile;
        }

        img {
          max-width: 100%;
          height: auto;
        }
      }

      .header-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: $fit-space--small;

        @include media-breakpoint-down(lg) {
          gap: $fit-space--small-x;
        }

        .searchform {
          border: solid 2px $light;

          .search-field {
            color: white;
            background: transparent;
            border-color: transparent;
            font-size: $f-size-base;

            &::placeholder {
              color: $light;
            }

            &:focus {
              box-shadow: none;
            }
          }
        }
      }
    }

    #bootscore-navbar {
      gap: $fit-space--small;
      .menu-item {
        .nav-link {
          font-family: $font-family-alternative;
          font-size: $f-size-medium;
          font-weight: 400;
          text-transform: uppercase;
          padding: 0 $fit-space--small-x;
          color: $light;
          transition: $transition-normal;

          &:hover {
            opacity: $op-med;
          }
        }
      }
    }

    &.scrolled {
      .header-top {
        height: 0;
        padding: 0;
        opacity: 0;
      }

      #nav-main {
        padding: $fit-space--small 0;

        @include media-breakpoint-down(lg) {
          padding: $fit-space--small-x 0;
        }

        .navbar-brand {
          width: $logo-size--mobile;
        }
      }
    }
  }

  &.entry-header {
    // Date Box
    .date-box {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: $fit-space--small;

      img {
        border-radius: $border-radius--max;
      }

      .date-box--text {
        display: flex;
        flex-direction: column;
        gap: $fit-space--small-x;
        
        @include media-breakpoint-down(md) {
          gap: $fit-space--small-xx;
        }

        .byline {
          font-size: $f-size-big;

          @include media-breakpoint-down(md) {
            font-size: $f-size-base;
            font-weight: $f-bold;
          }

          a {
            color: $dark;
            &:hover {
              color: $primary;
            }
          }
        }

        .posted-on {
          font-size: $f-size-min;
          color: $dark-op;

          @include media-breakpoint-down(md) {
            font-size: $f-size-small;
            line-height: $f-lh-small;
          }
        }
      }
    }
  }
}

.home {
  header {
    &#masthead {
      background: transparent;

      &.scrolled {
        background: $primary;
      }
    }
  }
}
