/**
* Typography
*/
h1,
.h1 {
  color: $dark;
  font-size: $f-size-extrabig;
  line-height: $f-lh-titles;
  margin-block-end: $fit-title-space !important;
  font-family: $font-family-alternative;
  text-transform: uppercase;
  font-weight: 700;

  @include media-breakpoint-down(xl) {
    font-size: $f-size-medbig;
  }
}

h2,
.h2 {
  color: $dark;
  font-size: $f-size-extrabig;
  line-height: $f-lh-titles;
  margin-block-end: $fit-title-space !important;
  font-family: $font-family-alternative;
  text-transform: uppercase;
  font-weight: 700;

  @include media-breakpoint-down(xl) {
    font-size: $f-size-medbig;
  }

  @include media-breakpoint-down(md) {
    font-size: $f-size-big;
  }
}

h3,
.h3 {
  color: $dark;
  font-size: $f-size-medbig;
  font-family: $font-family-alternative;
  line-height: $f-lh-titles;
  font-weight: $f-bold;
  margin-block-end: $fit-space--small !important;
  text-transform: uppercase;

  @include media-breakpoint-down(md) {
    font-size: $f-size-big;
  }
}

h4,
.h4 {
  color: $dark;
  font-family: $font-family-alternative;
  font-size: $f-size-big;
  line-height: $f-lh-small;
  font-weight: $f-bold;
  margin-bottom: $fit-space--small !important;
  text-transform: uppercase;

  @include media-breakpoint-down(lg) {
    font-size: $f-size-minbig;
  }

  @include media-breakpoint-down(sm) {
    font-size: $f-size-medium;
  }
}

h5,
.h5 {
  color: $dark;
  font-family: $font-family-alternative;
  font-size: $f-size-base;
  text-transform: uppercase;
}

h6,
.h6 {
  color: $dark;
  font-family: $font-family-alternative;
  font-size: $f-size-min;
  text-transform: uppercase;
}

.woocommerce-account {
  .woocommerce-Address-title {
    h2 {
      @extend .h4;
    }

    .edit {
      @extend .btn;
      @extend .btn-small;
      @extend .btn-primary;

      margin-bottom: $fit-space--small;
      float: none !important;
    }
  }
}

.woocommerce-MyAccount-content {
  fieldset {
    legend {
      @extend .h5;

      font-weight: $f-bold;
    }
  }
  .button {
    @extend .btn;
    @extend .btn-small;
    @extend .btn-primary;
  }

  h2 {
    @extend .h4;
  }
}

a {
  transition: $transition-normal;
  text-decoration: none;
}

ul {
  &#footer-menu {
    margin-left: $fit-space--small-x;

    @include media-breakpoint-down(lg) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: $fit-space--small;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: $fit-space--small;
    }

    .menu-item {
      border-left: solid 1px $light;

      &:first-child {
        border-left: none;
      }

      @include media-breakpoint-down(sm) {
        border-left: none;
      }

      a {
        list-style: none;
        padding: 0 $fit-space--small-x;
        margin: 0;
        text-decoration: underline;
        font-size: $f-size-base;
      }
    }
  }

  &.nav-categories-full {
    display: flex;
    flex-wrap: nowrap;
    @include media-breakpoint-down(xxl) {
      flex-wrap: wrap;
      justify-content: center;
      gap: $fit-space--small-x;
    }

    @include media-breakpoint-down(xl) {
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: auto;
      overscroll-behavior-x: contain;
      scroll-snap-type: x proximity;
      scrollbar-width: none;
      scroll-behavior: smooth;
      justify-content: flex-start;
      padding-left: $fit-space;
      padding-right: $fit-space;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    li {
      flex: 1;

      @include media-breakpoint-down(xxl) {
        flex: 0 0 auto;
      }

      a {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-family: $font-family-alternative;
        text-transform: uppercase;
        color: white;
        font-size: $f-size-minbig;
        font-weight: $f-regular;

        @include media-breakpoint-down(xl) {
          background: white;
          color: $dark;
          border-radius: $border-radius--max;
          font-size: $f-size-min;
          border: solid 1px $dark;
          font-weight: $f-bold;
        }

        &:hover {
          background: $primary;
          color: white;

          @include media-breakpoint-down(xl) {
            background: $dark;
          }
        }
      }

      &.active {
        a {
          background: $primary;
          color: white;

          @include media-breakpoint-down(xl) {
            background: $dark;
          }
        }
      }
    }
  }

  &.wp-block-categories-list {
    width: 100%;
    gap: $fit-space--small-x;
    border-color: transparent;
    flex-direction: column;

    .cat-item {
      padding: 0;
      border-color: transparent;
      flex: 1;

      a {
        font-weight: $f-bold;
        padding: $fit-space--small-btn $fit-space--small;
        border: $dark solid 1px;
        border-radius: $border-radius--small;
        display: block;
        display: flex;
        flex: 1;

        &:hover,
        &:focus,
        &:active {
          background: $dark;
          color: white;
        }
      }

      &:hover {
        background: transparent;
      }
    }
  }

  &.wp-block-latest-posts__list {
    .list-group-item {
      padding: 0;
      border-radius: 0;
      border-color: transparent;
      display: flex;
      flex-direction: column;
      gap: $fit-space--small-x;

      & > .stretched-link {
        order: 3;
        padding: 0 $fit-space--small;
        font-size: $f-size-medium;
        font-weight: $f-bold;
      }

      .wp-block-latest-posts__featured-image {
        order: 1;
        margin-bottom: $fit-space--small-x;

        .stretched-link {
          padding: 0;
          display: block;
          overflow: hidden;

          img {
            border-radius: 0 !important;
            margin: 0 !important;
            transition: $transition-normal;
          }
        }
      }

      .text-body-secondary {
        order: 5;
        padding: $fit-space--small-x 0;
        margin: $fit-space--small-x $fit-space--small 0;
        font-size: $f-size-small;
        border-top: solid 1px $dark-op-x;
        display: flex;
        flex: 1;

        &.d-block {
          order: 2;
          border: none;
          padding: 0 $fit-space--small;
          margin: 0;
        }
      }

      .wp-block-latest-posts__post-excerpt {
        order: 4;
        padding: 0 $fit-space--small;
        font-size: $f-size-small;
        line-height: $f-lh-special;

        .stretched-link {
          display: none;
        }
      }

      &:hover {
        background: transparent;

        .wp-block-latest-posts__featured-image {
          .stretched-link {
            img {
              transform: scale(1.05);
            }
          }
        }

        & > .stretched-link {
          color: $primary;
        }
      }
    }
  }
}

.wp-block-button {
  .wp-block-button__link {
    font-family: $font-family-alternative;
    text-transform: uppercase;
    font-size: $f-size-minbig;
    font-weight: $f-bold;
    border-radius: 0;
    padding: $fit-space--small-btn $fit-space--small;
    background-color: $dark;

    &:hover {
      filter: opacity(0.8);
    }
  }

  &.is-style-outline {
    .wp-block-button__link {
      background-color: transparent !important;
      color: $dark;

      &:hover,
      &:focus,
      &:active {
        background-color: $dark !important;
        color: $light;
        filter: none;
      }

      &.has-primary-background-color {
        color: $primary;
        border-color: $primary;

        &:hover {
          background-color: $primary !important;
          color: $light;
          filter: none;
        }
      }

      &.has-dark-background-color {
        color: $light;
      }
    }

    &.is-style-outline--3 {
      .wp-block-button__link {
        border-width: 2px !important;
      }
    }

    &.is-noborder {
      .wp-block-button__link {
        border-color: transparent !important;
      }
    }
  }
}

.btn {
  display: flex;
  gap: $fit-space--small-x;
  align-items: center;
  justify-content: center;
  font-family: $font-family-alternative;
  text-transform: uppercase;
  font-size: $f-size-minbig;
  font-weight: $f-bold;
  border-radius: 0 !important;
  padding: $fit-space--small-btn $fit-space--small;
  background-color: $dark;
  color: white;

  &.btn-small {
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
    font-size: $f-size-base;
    font-weight: $f-regular;
  }

  &.btn-icon {
    border-color: transparent;
    background: transparent;
    color: white;
    padding: 0;
    width: 40px;
    height: 40px;

    &.btn-icon--big {
      width: 60px;
      height: 60px;
    }

    &.search-toggler {
      border: solid 2px $light;
    }
  }

  &.btn-primary {
    background: $primary;
    color: white;
  }

  &.btn-dark {
    background: $dark;

    &:hover {
      background: $primary;
    }
  }

  &.btn-outline-dark {
    background: transparent;
    color: $dark;
    border-color: $dark;

    &:hover,
    &:focus,
    &:active {
      background: $dark;
      color: white;

      img {
        filter: invert(1);
      }
    }
  }

  &.btn-transparent {
    border-color: transparent;
    background: transparent;

    &:hover {
      color: $primary;
    }
  }

  &.btn-radius {
    border-radius: $border-radius--max !important;
  }

  &.top-button {
    left: 5%;
    right: inherit;
  }

  &.nav-toggler {
    justify-content: flex-start;
  }

  &.cart-toggler,
  &.account-toggler {
    justify-content: flex-end;
  }

  &.btn-share {
    @include media-breakpoint-down(md) {
      background: $dark;
      padding: 0;
      width: 40px;
      height: 40px;
    }

    img {
      @include media-breakpoint-down(md) {
        filter: invert(1);
      }
    }

    span {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}

.dropdown-cat-menu {
  position: inherit;
  .dropdown-menu {
    display: none;
    padding: 0 !important;
    border-color: $dark-op-x;
    box-shadow: $shadow-card;
    left: 0 !important;
    right: 0 !important;
    background: $secondary;
    color: white;
    transform: translateY(53px) !important;

    .dropdown-list {
      padding: $fit-space--small !important;
      display: flex;
      gap: $fit-space--small;
      justify-content:center;
      align-items: start;
      flex-direction: row !important;
      list-style: none;
      margin: 0;

      li {
        height: 100%;
        a {
          font-family: $font-family-alternative;
          font-size: $f-size-base;
          color: white;
          text-align: center;
          padding: $fit-space--small;
          text-transform: uppercase;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          height: 100%;
          gap: $fit-space--small-x;

          &:hover {
            background: $primary;
          }
        }
      }
    }

    &.show {
      display: block;
    }
  }
}

.woocommerce-button {
  @extend .btn;
  @extend .btn-primary;
}

.wp-element-button {
  @extend .btn;
  @extend .btn-small;
  @extend .btn-primary;
}

.wc-block-components-checkout-return-to-cart-button {
  @extend .btn;
  @extend .btn-small;
  @extend .btn-transparent;
}

.meta {
  font-size: $f-size-min;
  color: $dark-op;
}

.badge {
  font-family: $font-family-alternative;
  font-size: $f-size-small;
  font-weight: $f-bold;
  text-transform: uppercase;
  position: relative;

  &.badge-tag {
    border-radius: 0;
    border: $dark-op-x solid 1px;
  }
}

.entry-post {
  .entry-content {
    font-size: $f-size-medium;
    line-height: $f-lh-big;

    @include media-breakpoint-down(md) {
      font-size: $f-size-base;
      line-height: $f-lh-base;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: $font-family-base;

      strong {
        font-weight: $f-bold;
      }
    }

    h2 {
      font-size: $f-size-big;
      margin-top: $fit-space--big;
    }

    h3 {
      font-size: $f-size-minbig;
    }

    h4,
    h5 {
      font-size: $f-size-medium;
    }

    figure {
      &.wp-block-image {
        img {
          border-radius: $border-radius--normal;
        }
      }
    }
  }
}

.wp-block-group--shop {
  .page-title {
    @extend .h4;
  }
}

.wp-block-cover {
  color: white;

  h1,
  h2,
  h3,
  h4,
  h5,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5 {
    color: white;
  }

  a {
    color: white;
  }

  .wpforms-container {
    margin-top: 0 !important;
  }

  .wpforms-field-label {
    font-weight: $f-regular !important;
  }
}

div.wpforms-container-full input[type="date"],
div.wpforms-container-full input[type="datetime"],
div.wpforms-container-full input[type="datetime-local"],
div.wpforms-container-full input[type="email"],
div.wpforms-container-full input[type="month"],
div.wpforms-container-full input[type="number"],
div.wpforms-container-full input[type="password"],
div.wpforms-container-full input[type="range"],
div.wpforms-container-full input[type="search"],
div.wpforms-container-full input[type="tel"],
div.wpforms-container-full input[type="text"],
div.wpforms-container-full input[type="time"],
div.wpforms-container-full input[type="url"],
div.wpforms-container-full input[type="week"],
div.wpforms-container-full select,
div.wpforms-container-full textarea,
.wp-core-ui div.wpforms-container-full input[type="date"],
.wp-core-ui div.wpforms-container-full input[type="datetime"],
.wp-core-ui div.wpforms-container-full input[type="datetime-local"],
.wp-core-ui div.wpforms-container-full input[type="email"],
.wp-core-ui div.wpforms-container-full input[type="month"],
.wp-core-ui div.wpforms-container-full input[type="number"],
.wp-core-ui div.wpforms-container-full input[type="password"],
.wp-core-ui div.wpforms-container-full input[type="range"],
.wp-core-ui div.wpforms-container-full input[type="search"],
.wp-core-ui div.wpforms-container-full input[type="tel"],
.wp-core-ui div.wpforms-container-full input[type="text"],
.wp-core-ui div.wpforms-container-full input[type="time"],
.wp-core-ui div.wpforms-container-full input[type="url"],
.wp-core-ui div.wpforms-container-full input[type="week"],
.wp-core-ui div.wpforms-container-full select,
.wp-core-ui div.wpforms-container-full textarea {
  font-size: $f-size-base;
  border-radius: $border-radius--normal;
}

div.wpforms-container-full button[type="submit"] {
  display: flex;
  gap: $fit-space--small-x;
  align-items: center;
  justify-content: center;
  font-family: $font-family-alternative !important;
  text-transform: uppercase;
  font-size: $f-size-minbig !important;
  font-weight: $f-bold !important;
  border-radius: 0 !important;
  padding: $fit-space--small-btn $fit-space--small;
  background: $primary !important;
  color: white;
  border-color: transparent;

  &:hover {
    background: $dark !important;
  }
}
