/**
* Footer
*/
footer {
  &.bootscore-footer {
    background: $dark;
    color: $light;
    padding-top: $fit-space-section--standar;
    padding-bottom: $fit-space-section--standar;
    position: relative;
    overflow: hidden;

    .bootscore-footer-columns {
      position: relative;
      z-index: 3;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      bottom: $fit-space-n;
      height: 50%;
    }

    &::before {
      content: "";
      background: $gradient-to-dark;
      z-index: 2;
    }

    &::after {
      content: "";
      background: url("../img/footer-claim.svg") repeat-x center bottom;
      z-index: 1;
    }


    .img-guarantee {
      width: 100%;
      max-width: 78px;
      height: auto;
    }

    .col-pay-brand {
      display: flex;
      justify-content: flex-end;

      .img-payment {
        width: 100%;
        max-width: 365px;
        height: auto;
      }
    }

    .footer-summary {
      padding-right: 8%;

      .wp-block-list {
        padding-left: $fit-space--big;
      }
    }

    .row-primary {
      font-family: $font-family-alternative;

      .menu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: $fit-space--small;
  
        li {
          a {
            color: white;
            text-transform: uppercase;

            &:hover {
              opacity: $op-min;
            }
          }
        }

        &.wp-block-list {
          gap: $fit-space--small-x;
          li {
            a {
              text-transform: inherit;
            }
          }
        }
      }
    }

    .row-secondary {
      align-items: center;
      font-size: $f-size-medium;
      padding-top: $fit-space-section--med;
      padding-bottom: $fit-space-section--med;

      p {
        margin: 0;
      }
    }

    .footer_widget {
      .widget-title {
        font-weight: $f-bold;
        font-size: $f-size-base;
        margin-block-end: $fit-space--medium;
      }
    }
    
  }
}
