/*!
 * Bootscore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

body {
  font-family: "Inter", sans-serif;
  font-size: $f-size-base;
  line-height: $f-lh-base;
  position: relative;
  color: $base;
}

// PAGE HEADER
.page-header {
  padding-top: $fit-space-header--top;
  padding-bottom: $fit-space-section--standar;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: $fit-h-pageheader;
  background-size: cover;
  background-position: center;

  @include media-breakpoint-down(md) {
    padding-top: $fit-space-header--top-mobile;
    padding-bottom: $fit-space-section--med;
    min-height: auto;
  }

  .page-header--subtitle {
    max-width: $fit-w-text;
  }

  .page-header--sticker {
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
    font-size: $f-size-medium;
    font-family: $font-family-alternative;
    text-transform: uppercase;
    display: block;
    padding: $fit-space 0;
    position: relative;

    @include media-breakpoint-down(xl) {
      display: none;
    }

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 25px;
      height: 15px;
      background: url(../img/tick-blue.svg) no-repeat 0 0;
      right: 0;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  .post-thumbnail {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;

    img {
      object-fit: cover; /* Activa el efecto de recorte */
      object-position: center; /* Centra la imagen en el contenedor */
      margin: 0;
      border-radius: 0 !important;
      width: 100vw;
      max-width: inherit;
    }
  }

  .wp-block-columns {
    margin-bottom: 0;
    position: relative;
    z-index: 3;
    align-items: center !important;

    .wp-block-column {
      .page-header--subtitle {
        @extend .h4;

        font-weight: $f-regular;
        max-width: 900px;
      }
    }
  }

  &.page-header--bg {
    color: white;
    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      background: $dark-op;
    }

    .wp-block-column {
      .page-header--title,
      .page-header--subtitle {
        color: white;
      }
    }
  }

  &.page-header--small {
    padding-top: $fit-space-header--top;
    padding-bottom: $fit-space--big-x;
    min-height: auto;

    @include media-breakpoint-down(md) {
      padding-top: $fit-space-header--top-mobile;
      padding-bottom: $fit-space;
    }
  }

  &.page-header--seo {
    overflow: hidden;
    min-height: inherit;
    padding: 0 !important;
    height: 0px;
    opacity: 0;
  }

  &.page-header--blog {
    background: #F3F3F3;
    position: relative;

    @include media-breakpoint-down(md) {
      height: 100vh;
      padding: 0;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background: url(../img/ruster_bg_blog.svg) repeat center center;
    }

    .btn-icon {
      position: absolute;
      bottom: $fit-space;
      left: calc(50% - 30px);
      display: none;

      @include media-breakpoint-down(md) {
        display: flex;
      }
    }

    .wp-block-columns {
      position: relative;
      z-index: 2;

      @include media-breakpoint-down(md) {
        height: 100%;
      }

      .wp-block-column {
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-down(md) {
          height: 100%;
        }

        h1 {
          margin-block-end: 0 !important;
        }

        img {
          @include media-breakpoint-down(lg) {
            max-width: 300px;
          }

          @include media-breakpoint-down(md) {
            max-width: 200px;
          }
        }
      }
    }
  }
}

// Breadcrumb
nav {
  &[aria-label="breadcrumb"] {
    font-family: $font-family-alternative;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
    background: transparent !important;
    padding: $fit-space !important;
    font-size: $f-size-base;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
      margin-top: $fit-space-n !important;
      margin-left: auto;
      margin-right: auto;
    }

    ol {
      width: 100%;
      max-width: 1600px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      .breadcrumb-item {
        color: $dark;

        &::before {
          content: "";
          background: url(../img/mini-arrow.svg) no-repeat 0 50%;
          margin-right: $fit-space--small-x;
          margin-left: $fit-space--small-xx;
        }

        a {
          .visually-hidden {
            width: auto !important;
            height: auto !important;
            margin: 0 !important;
            position: relative !important;
          }

          .fa-house {
            display: none;
          }
        }
      }
    }
  }
}

// dropdown
.dropdown {
  .dropdown-menu {
    border-radius: 0;
    top: 0 !important;

    .dropdown-item {
      font-family: $font-family-alternative;
      font-size: $f-size-base;
      text-transform: uppercase;
      font-weight: 400;
    }

    &.dropdown-menu-dark {
      background: $dark;
    }

    &.dropdown-share {
      right: 0 !important;
      left: 0 !important;

      @include media-breakpoint-down(md) {
        left: inherit !important;
      }
    }
  }
}

#breadcrumbs {
  font-family: $font-family-alternative;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0;
  background: transparent !important;
  font-size: $f-size-base;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @include media-breakpoint-down(md) {
    font-size: $f-size-min;
  }

  span {
    display: flex;
    flex-wrap: wrap;

    span {
      color: $dark;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: $fit-space--small-x;

      &::after {
        content: "";
        width: 10px;
        height: 10px;
        display: flex;
        background: url(../img/mini-arrow.svg) no-repeat 0 50%;
      }

      &.breadcrumb_last {
        width: 300px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;

        @include media-breakpoint-down(sm) {
          width: 220px;
        }

        &::after {
          display: none;
        }
      }
    }
  }
}

//Block - Direct Link
.directlink-block {
  a {
    display: block;

    .directlink-block__inner {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: $fit-space;
      padding: $fit-space--medium;
      border: $dark-op solid 1px;
      transition: $transition-normal;

      @include media-breakpoint-down(md) {
        align-items: flex-start;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
      }

      img {
        width: 138px;
        height: auto;

        @include media-breakpoint-down(md) {
          width: 65px;
        }
      }

      .directlink-block__content {
        .block-title {
          text-transform: uppercase;
          color: $primary;
          font-weight: $f-bold;
        }

        .block-description {
          margin: 0;
        }
      }
    }

    &:hover {
      .directlink-block__inner {
        border-color: $dark;
      }
    }
  }
}

.has-dark-background-color {
  .directlink-block {
    a {
      .directlink-block__inner {
        border: $light-op solid 1px;

        .directlink-block__content {
          .block-description {
            color: $light;
          }
        }
      }

      &:hover {
        .directlink-block__inner {
          border-color: $light;
        }
      }
    }
  }
}

//Block - Direct Link Big
.directlinkbig-block {
  height: 100%;
  a {
    display: block;
    height: 100%;
    color: white;

    .directlink-block__inner {
      background-size: cover;
      padding: $fit-space;
      display: flex;
      height: 100%;
      flex-wrap: wrap;
      align-items: end;
      justify-content: flex-start;
      position: relative;
      padding-top: 50%;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: $dark;
        opacity: $op-med;
        z-index: 1;
        transition: $transition-normal;
      }

      .directlink-block__content {
        border-left: solid 6px $light;
        padding-left: $fit-space--small;
        position: relative;
        z-index: 2;

        .block-description {
          margin-top: $fit-space;
          color: $light;
          font-weight: $f-bold;
        }

        .block-title {
          color: $light;
        }
      }
    }

    &:hover {
      .directlink-block__inner {
        &::before {
          opacity: $op-min;
        }
      }
    }
  }

  &.background-blue {
    .directlink-block__inner {
      &::before {
        background: $primary;
      }
    }
  }
}

//Block - Auto Carrousel Bar
.auto-carrousel-bar {
  background: $primary;
  color: $dark;
  overflow: hidden;
  padding: $fit-space 0;

  .auto-carrousel-bar__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: inherit;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      white-space: nowrap;
      justify-content: center;
      align-items: center;
      font-family: $font-family-alternative;
      font-size: $f-size-big;
      gap: $fit-space--small;
      animation: scroll 180s linear infinite;

      li {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: inherit;
          width: auto;
        }
      }
    }
  }

  &.option-02 {
    color: $light;

    img {
      filter: invert(1);
    }
  }
}

//Block - Logo Swiper
.logoSwiper {
  padding-top: $fit-space;

  .swiper-wrapper {
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: $max-content--small;
        max-width: 100%;
        height: auto;
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

// Social Links
.wp-block-social-links {
  border-top: solid 1px white;
  padding: $fit-space 0;

  @include media-breakpoint-down(lg) {
    display: flex;
  }

  li {
    @include media-breakpoint-down(lg) {
      flex: 1;
    }
  }

  .wp-social-link {
    border-radius: 0 !important;
    @include media-breakpoint-down(lg) {
      padding-top: $fit-space--small;
      padding-bottom: $fit-space--small;
    }

    .wp-block-social-link-anchor {
      padding: $fit-space--small;
      justify-content: center;

      svg {
        width: $fit-space--big;
        height: $fit-space--big;

        @include media-breakpoint-down(lg) {
          width: $fit-space;
          height: $fit-space;
        }
      }
    }
  }
}

//Pagination
.pagination {
  justify-content: flex-end !important;
  border-radius: 0;
  gap: $fit-space--small-x;

  .page-item {
    .page-link {
      border-radius: 0;
      font-family: $font-family-alternative;
      font-size: $f-size-big;
      width: $fit-space--big-x;
      height: $fit-space--big-x;
      border: transparent;
      color: $dark;
      background: $dark-op-x;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: $dark-op;
      }
    }

    &.active {
      .page-link {
        background: $dark;
        color: white;
      }
    }
  }
}

.post-pagination {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: $fit-space--small-x;
  list-style: none;
  margin-top: $fit-space !important;
  padding: $fit-space 0 0;
  margin: 0;
  border-top: solid $dark-op-x 1px;

  .page-item {
    flex: 0 0 50%;

    .page-link {
      font-family: $font-family-alternative;
      font-size: $f-size-min;
      display: block;
      line-height: $f-lh-small;

      &:hover {
        color: $primary;
      }
    }

    &:first-child {
      .page-link {
        text-align: left;
      }
    }

    &:last-child {
      .page-link {
        text-align: right;
      }
    }
  }
}

// Cards
.card {
  &.card-post {
    padding: 0;
    border-radius: 0;
    border-color: transparent;
    height: 100%;

    .card-header {
      padding: 0;
      border-radius: 0;
      border-color: transparent;
      background: transparent;
      position: relative;

      .category-badge {
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: $fit-space--small;
        z-index: 2;
        gap: $fit-space--small-x;
      }

      a {
        display: block;
        overflow: hidden;

        img {
          border-radius: 0 !important;
          transition: $transition-normal;
        }

        &:hover img {
          transform: scale(1.05);
        }
      }
    }

    .card-body {
      padding-top: $fit-space;
      height: 100%;

      .blog-post-title--link {
        color: $dark;

        &:hover {
          color: $primary;
        }
      }
    }

    .card-footer {
      background: transparent;
    }
  }

  &.product {
    border-radius: 0;
    transition: $transition-normal;
    box-shadow: 0 0 0 1px $base;
    border-color: transparent;
    height: 100%;

    & > .woocommerce-loop-product__link {
      position: relative;

      .onsale {
        position: absolute;
        background: $warning;
        border-radius: 0 !important;
        right: $fit-space--small;
        left: inherit;
        font-weight: $f-regular !important;
      }
    }

    .card-body {
      .tag-box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: $fit-space--small-x;
        margin-bottom: $fit-space--small-x;
      }

      .woocommerce-loop-product__title {
        font-weight: $f-regular !important;
        font-size: $f-size-medium;
        line-height: $f-lh-big;
        margin-block-end: $fit-space--small-x !important;
      }

      .price {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        font-family: $font-family-alternative;
        gap: $fit-space--small;
        margin-bottom: 0;

        & > .amount {
          bdi {
            font-size: $f-size-minbig;
            font-weight: $f-bold;
            color: $dark;
          }
        }

        ins {
          color: $warning;
          order: 1;
          font-size: $f-size-minbig;
          font-weight: $f-bold;
        }

        del {
          color: $dark-op;
          order: 2;
          font-size: $f-size-min;
        }
      }

      .add-to-cart-container {
        display: none;
      }
    }

    &:hover {
      box-shadow: 0 0 0 3px $primary;

      .card-body {
        .woocommerce-loop-product__title {
          color: $primary;
        }
      }
    }
  }
}
